<!-- search bar   -->
<app-search-bar></app-search-bar>
<!-- results component being called -->
<div class="container-fluid">
  <div class="row ml-1" *ngIf="category; else notSearched">
    <div class="col-2">
      <!-- filters -->
      <!-- discount filter -->
      <div *ngIf="results.length" class="mt-5">
        <!-- <h5>{{ 'SHOP-PAGE.FILTER' | translate }}</h5> -->
        <ion-range-slider #sliderElement
        type="double"
        max="100"
        min="0"
        from="0"
        from_min="0"
        from_max="90"
        from_shadow="true"
        to="100"
        to_min="10"
        to_max="100"
        to_shadow="true"
        grid="true"
        grid_num="10"
        prefix="Discount: "
        postfix="%"
        decorate_both="false"
        (onFinish)="onFinish($event)">
      </ion-range-slider>
    </div>
    <!-- end -->
    <!-- dropdown for sorting -->
    <div class="dropdown mt-5" *ngIf="results.length">
      <button class="btn dropdown-toggle btn-dropdown ml-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="text-sort">{{ 'SHOP-PAGE.SORTING.TITLE' | translate }}</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="sortBy('priceHL')">{{ 'SHOP-PAGE.SORTING.PRICE-HIGH' | translate }}</a>
        <a class="dropdown-item" (click)="sortBy('priceLH')">{{ 'SHOP-PAGE.SORTING.PRICE-LOW' | translate }}</a>
        <a class="dropdown-item" (click)="sortBy('discountHL')">{{ 'SHOP-PAGE.SORTING.DISCOUNT-HIGH' | translate }}</a>
        <a class="dropdown-item" (click)="sortBy('discountLH')">{{ 'SHOP-PAGE.SORTING.DISCOUNT-LOW' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="col-10" >
    <app-seach-results  [results]="filteredResults"></app-seach-results>
  </div>
</div>
<ng-template #notSearched>
  <div *ngIf="vendorsByCity; else noVendor">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-4 card-group mb-3" *ngFor="let vendor of vendorsByCity">
        <div class="card card-w text-dark m-5"[routerLink]="['/', 'vendorInfo',vendor.email]" >
          <img class="card-img card-w" src="../../../../assets/card.jpeg" alt="Card image">
          <div class="card-body card-data">
            <div class="row">
              <div class="col">
                <span class="card-heading">{{vendor.shopAddress.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
</div>
